<body class="bg-red-400 min-h-fit w-screen flex flex-col content-center">
<section class="flex flex-row rounded justify-center self-center p-2 w-3/4 h-2/6 mt-20 mb-10 bg-white">
    <div class="flex flex-col justify-center self-center">
      <h1 class="text-3xl font-bold text-center">My projects</h1>
      <table *ngIf="projects.length" class="border-separate border-spacing-2 border border-slate-400 mt-10">
        <thead>
            <tr>
                <th scope="col" class="border border-slate-300 p-2">Project title</th>
                <th scope="col" class="border border-slate-300 p-2">Project languages</th>
                <th scope="col" class="border border-slate-300 p-2">Project description</th>
                <th scope="col" class="border border-slate-300 p-2">Project year</th>
                <th scope="col" class="border border-slate-300 p-2">Project on Github</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td class="border border-slate-300 p-2">{{ project.projectTitle }}</td>
                <td class="border border-slate-300 p-2">{{ project.projectLanguages }}</td>
                <td class="border border-slate-300 p-2">{{ project.projectDescription }}</td>
                <td class="border border-slate-300 p-2">{{ project.projectYear }}</td>
                <td class="border border-slate-300 p-2"><a href="{{ project.projectRepo }}" target="_blank">Go to repository</a></td>
            </tr>
        </tbody>

      </table>
    </div>
  </section>
</body>